<aside class="sidebar" role="navigation" aria-label="Main Menu">
  <div class="profile-section">
    <img src="assets/images/profile.jpg" alt="Profile Picture" class="profile-pic">
    <h1>Madiha Bencekri</h1>
    <p>Ph.D. | Researcher | Transportation Engineering and Smart Cities</p>
  </div>
  <nav class="menu">
    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="about.html">About</a></li>
      <li><a href="education.html">Education</a></li>
      <li><a href="experience.html">Experience</a></li>
      <li><a href="publications.html">Publications</a></li>
      <li><a href="awards.html">News & Awards</a></li>
      <li><a href="languages.html">Languages</a></li>
      <li><a href="teaching.html">Teaching</a></li>
      <li><a href="projects.html">Projects</a></li>
      <li><a href="contact.html">Contact</a></li>
    </ul>
  </nav>
</aside>
